*{
  box-sizing: border-box;
}
#heading{
  text-align: center;
  margin-top: 3em;
  color: #190729;
  font-size: 1.3em;
}

form{
  margin: 0 auto;
  max-width: 350px;
}

.inputField{
  display: block;
  width: 100%;
  margin: 0.65em auto 0;
  text-align: center;
  padding: 0.5em;
}

#terms{
  font-size: 0.6em;
  width: 80%;
  margin: 1.5em auto;
  text-align: center;
}

#terms a{
  color: black;
}

#login{
background-color: #190729;
color: white;
border: none;
display: block;
margin: 0 auto;
width: 100%;
padding-top: 0.5em;
padding-bottom: 0.6em;
cursor: pointer;
}

#glogin{
  background-color: #d3d3d3;
  border: none;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.6em;
  cursor: pointer;
}

h6 {
 overflow: hidden;
 text-align: center;
}
h6:before,
h6:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 45%;
}
h6:before {
 right: 0.5em;
 margin-left: -50%;
}
h6:after {
 left: 0.5em;
 margin-right: -50%;
}

.dlg{
  font-size: 0.8em;
  margin: 1em auto 0;
  text-align: center;
}

.dlg a{
  color: black;
}

.dlg a:visited{
  color: black;
}

.dlg a:hover{
  color: black;
}

#google{
  vertical-align: middle;
  padding-right: 0.5em;
}

#honey{
  display: none;
}

#error{
  color: white;
  background-color: red;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  display: none;
}

/* @media(max-width: 770px){
  form{
    max-width: 350px;;
  }
}

@media(min-width: 771px){
  form{
    max-width: 350px;
  }
} */
